VITE_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
VITE_RPC_URL="https://rpc.testnet.soroban.stellar.org"
VITE_NFT_CONTRACT_ID="YOUR_NFT_CONTRACT_ID"
VITE_MARKETPLACE_CONTRACT_ID="YOUR_MARKETPLACE_CONTRACT_ID"
VITE_NATIVE_TOKEN_CONTRACT_ID="YOUR_NATIVE_TOKEN_CONTRACT_ID"
